.boas-vindas {
    background-color: #005C53;
    padding: 10px 10px 15px 70px;
    color: #FFFFFF;
}

.navegacao {
    background-color: #BFBFBF;
    opacity: 0.7;
    display: flex;
    gap: 30px;
}

#navegacao-pagina-inicial, #navegacao-projetos,#navegacao-contato {
    color: #005C53;
}

#navegacao-pagina-inicial:hover,#navegacao-projetos:hover,#navegacao-contato:hover {
    color: #FFFFFF;
    transform: scale(1.05);
}

.texto-apresentacao h2 {
    text-align: center;
    padding: 80px 0 15px;
}

.texto-apresentacao hr {
    width: 600px;
    height: 1px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.texto-explicacao {
    text-align: center;
    padding: 40px 0 5px;
}

.texto-apresentacao img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.titulo-formacoes {
    text-align: center;
    padding: 80px 0 150px;
}

.titulo-formacoes .detalhes-formacoes img {
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.titulo-formacoes .detalhes-formacoes {
    background-color: #005C53;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.titulo-formacoes .detalhes-formacoes p {
    color: #FFFFFF;
}

.titulo-formacoes hr {
    width: 600px;
    height: 1px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hr-divisa {
    width: 600px;
    height: 1px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.botao-projetos {
    padding-left: 50%;
    padding-right: 50%;
    margin-top: -140px;
}

.footer {
    text-align: center;
}